@import "tailwindcss";


@layer components {
  .mini-terminal-watchlist{
    @apply 
    rounded-2xl p-6
    bg-[#131c2a]/90
    border border-white/10
    shadow-[0_18px_60px_-30px_rgba(0,0,0,0.9)]
    transition duration-300 ease-out will-change-transform
    hover:scale-[1.02]
    hover:border-blue-500/60;
  }
}





