@import "tailwindcss";


@layer components {
    .stock-card {
    @apply 
    relative h-full isolate
    rounded-lg
    border border-white/10
    bg-white/5
    p-4
    transition-all duration-300 ease-out
    will-change-transform
    hover:scale-[1.075]
    hover:cursor-pointer
    hover:border-blue-500
    hover:shadow-[0_0_0_1px_rgba(59,130,246,0.5),0_20px_40px_-20px_rgba(0,0,0,0.9)]

    }
 
}





